.arkaplan{
    width:30vw;
    height:85vh;
    background-color: rgb(44, 2, 82);
    margin-top:10vh;
    border-radius: 10px;
}
.islemAlani{
    height:13vh;
    background-color: rgb(118, 21, 203);
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;

}
#historyInput{
    color:rgb(191, 191, 191);
    font-size: 30px;
    margin-bottom: 10%;
    
}
#currentInput{
    color:aliceblue;
    font-size: 45px;
    

}
.tus{
    color:aliceblue;
    font-weight:500;
    font-size: 30px;
    width:6vw;
    height: 12vh;
    background-color: rgb(178, 118, 232);
    border-radius: 100%;
    margin:0.5rem;


}
.islem{
    color:aliceblue;
    font-weight:500;
    font-size: 30px;
    width:6vw;
    height: 12vh;
    background-color:   rgb(118,21,203);
    border-radius: 100%;
    margin:0.5rem;
}
@media (max-width: 768px) {
    #historyInput, #currentInput {
        font-size: 6vw; /* Küçük ekranlar için daha büyük font */
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    #historyInput, #currentInput {
        font-size: 4vw;
    }
}

@media (min-width: 1201px) {
    #historyInput, #currentInput {
        font-size: 2vw;
    }
}

